.pokemon{
    height: 157px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: #FFF;
    position: relative;
    padding: 20px;
    cursor: pointer;
    transition: all .2s;
    &:hover{
        box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.45);
    }
    h1{
        color: #262835;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-style: italic;
        font-weight: 900;
        line-height: normal;
        margin: 0 0 10px 0;
        text-transform: lowercase;
        &::first-letter{
            text-transform: uppercase;
        }
    }
    &--type{
        width: unset;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        p{
            min-width: 55px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 32px;
            background: #EFEFEF;
            color: var(--Primary, #262835);
            font-family:'Roboto', sans-serif;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
            text-transform: capitalize;
        }
    }
    &--image{
        width: 110px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('/assets/images/background-pokemon.png');
        position: absolute;
        top: 47px;
        right: 20px;
        img{
            width: 80px;
            min-width: 80px;
            height: 80px;
            min-height: 80px;
        }
    }
}