/*Import fonts*/
@import './assets/fonts/fonts.scss';

/*Style global*/
*{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background: #262835;
}

::-webkit-scrollbar{
    width: 0;
}